a {
    text-decoration: none;
  }

  div.dataTables_wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .container .head{
      margin-left: 300px;
      padding-bottom: 20px;
    }
    .pad{
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .btn_style{
      margin-top: 32px;
      border-radius: 4px;
      width: 50%;
      height: 30px;
    }

    .btn_style1{
      margin-top: 32px;
      border-radius: 4px;
      width: 70%;
      height: 30px;
    }

    .hr_send_btn{
      margin-top: 50px;
      margin-left: 70px;
      border-radius: 4px;
      width: 50%;
      height: 40px;
      font-weight: bold;
      font-size: 15px;

    }
    .dsh_btn{
      width: 25%;
      height: 40px;
      font-weight: bold;
      font-size: 15px;
      color: #000;
      border-radius: 4px;
    }
    .dsh_btn a {
      text-decoration: none;
      color: #000;
    }
    .tabs{
      margin-right: 0;
    }
    
    
    table#table_style{
    margin-left: 60px;
    margin-top: 10px;
    width: 300px;
    }
    table.center-all td,th{
      text-align: center;
    }
    textarea {
    width: 100%;
    height: 50px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  select#reccom {
    width: 100%;
    padding: 15px 10px;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  h4.recommend{
    margin-top: 0px;
    margin-bottom: 20px;
  }
.btnn{
  margin-top: 20px;
  margin-right: 2px;
}
.btnn a{
  color: white;
}
.container{
  width: 1600px;
}
#btncapsule{
  padding-left: 10px;
  margin-right: 0px;
}
.tdat{
  text-align: center;
}