       #space{
          padding-top: 100px;
        }

      .adiff {
        position: absolute;
        top: 237px;
        right: -90px;
        width: 100px;
        height: 40px;
        padding: 3px;
        margin-left: 10px;  
      }

      .dialog{
      	display: none;
      }

    #leavehistory{ z-index: 3000; }

    h5.stylo{
      line-height: 2;
    }

    .modal a {
      text-decoration: none;
      color: black;
    }

    a.btn-style {
        width: 50px;
        height: 25px;
        font-size: 12px;
        text-decoration: none;
        border: 1px solid #474849;
        margin: 0px 5px 0px 5px;
        padding: 3px;
        background-color: #f9fbff;
        color: black;
        border-radius: 5px;
    }
    a.btn-style:hover {background-color: #e7e7e7;}

    #casual_apply{
  display: none;
}
.modal-align{
  margin-top: 35vh;
}
#yesbtn{
      float: left;
    }